<a href="https://colab.research.google.com/github/Misudhari/Applied-Data-Science-with-Python/blob/main/Merging_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

In [14]:
staff_df = pd.DataFrame([{
    'Name': 'Kelly',
    'Role': 'Director of HR'},
    {'Name': 'Sally',
     'Role':  'Course liasion'},
     {'Name': 'James',
      'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')
student_df = pd.DataFrame([{'Name':  'James',  'School': 'Business'},
                          {'Name':  'Mike', 'School': 'Law'},
                          {'Name':  'Sally', 'School':  'Engineering'}])
student_df = student_df.set_index('Name')

print(staff_df.head())
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

In [15]:
# 
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [16]:
pd.merge(staff_df,student_df, how='inner', left_index = True, right_index = True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [17]:
pd.merge(staff_df, student_df, how='left', left_index = True, right_index = True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [18]:
pd.merge(staff_df,student_df, how = 'right', left_index = True, right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [20]:
# "on"

staff_df = staff_df.reset_index()
student_df = student_df.reset_index()

pd.merge(staff_df, student_df, how='right', on='Name')

    Name            Role       School
0  James          Grader     Business
1   Mike             NaN          Law
2  Sally  Course liasion  Engineering

In [ ]:
staff_df = pd.DataFrame([{'Name': 'Kally',
                          'Role': 'Director of HR',
                          'Location': 'State Street'},
                         {'Name': 'Sally',
                          'Role': 'Course Liason',
                          'Locarion': 'Washington Avenue'},
                         {'Name': 'James',
                          'Role': 'Garder',
                          'Location': 'Washington Avenue'}])